@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url(img/background.jpg);
}


@font-face {
    font-family: [Dancing Script];
    src: url([https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap]);
 }

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-family: Dancing Script;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li {
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: #fff;
}
h1 {
    margin: 0;
}

.categoria {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.opcoes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.opcao {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #fff;
    width: 200px;
}

.opcao img {
    max-width: 100%;
    border-radius: 5px;
}

.opcao span {
    display: block;
    margin-top: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

.menu-final {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.prato-final {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    margin: 10px;
    display: inline-block;
    width: 200px;
}

.prato-final img {
    max-width: 100%;
    border-radius: 5px;
}

.prato-final span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.prato-final button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.prato-final button:hover {
    background-color: #c0392b;
}


.finalizar-compra-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
  }
  
  #finalizar-compra {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #finalizar-compra:hover {
    background-color: darkgreen;
  }
